.cgmaps-main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cgmaps-form {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cgmaps-form * {
	margin-bottom: 5px;
}

.api-setting {
	margin-top: 50px;
}